@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

.hoverEffect {
  background-color: white;
  width: 100%;
  text-align: center;
  margin-top: 10vh;
  margin: 25px;
}

.hoverEffect a:hover {
  color: #000;
}

.hoverEffect a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.hoverEffect a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
